html, body { height:100%; width:100%;}

body {
    padding-top: 70px;
}

.jumbotron {
    margin-top: 10px;
}

.nav li form {
    padding-top: 10px;
}

.map {
    margin-top: -20px;
    width: 100%;
    height: 100%;
}