{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <div class="jumbotron">
        <h1>FlickrGeoTagger</h1>
        <p class="lead">{% blocktrans %}Allows you to geotag your Flickr photos using a gpx file recorded by third applications/GPS devices.{% endblocktrans %}</p>
        <p><a class="btn btn-success" href="{% url "upload_file" %}">{% trans "Continue" %} »</a></p>
    </div>

    <div class="pull-right">
        {% include "includes/github.html" %}
    </div>

{% endblock %}