{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <div class="jumbotron">
        <h1>FlickrGeoTagger</h1>
        <p class="lead">{% blocktrans %}Allows you to geotag your Flickr photos using a gpx file recorded by third applications/GPS devices.{% endblocktrans %}</p>
        <p><a class="btn btn-success" href="{% url "upload_file" %}">{% trans "Continue" %} »</a></p>
    </div>

    {% if SHOW_ADDTHIS_BUTTONS %}
    <div class="pull-right">
        {% include "includes/add_this.html" %}
    </div>
    {% endif %}

    {% if SHOW_GITHUB_BUTTONS %}
        <div class="pull-left">
            {% include "includes/github.html" %}
        </div>
    {% endif %}

{% endblock %}