{% extends "base.html" %}
{% load i18n static json_tags sekizai_tags %}

{% block navbar_right %}
  <ul class="nav navbar-nav navbar-right">
    <li>
        <form id='timezone-frm' action='.' method='post'>
            {% csrf_token %}
            {{ form.timezone }}
        </form>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ geotagger.coordinates.gpx_file }} <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li class="dropdown-header">{{ geotagger.get_localized_photos|length }} {% trans "photos" %}</li>
        <li><a class='save_coordinates' href="#"><span class="glyphicon glyphicon-save"></span> {% trans "Sync photos" %}</a></li>
      </ul>
    </li>
  </ul>
    {% addtoblock "css" %}
         <link rel="stylesheet" href="{% static "select2/select2.css" %}">
    {% endaddtoblock %}
    {% addtoblock "js" %}
        <script src="{% static "select2/select2.min.js" %}"></script>
        <script>
            $(function() {
                var timezone_field = $("#id_timezone");
                timezone_field.select2({'allowClear': false, 'closeOnSelect': false, 'placeholder': ''});
                timezone_field.change(function(){
                   $("#timezone-frm").submit();
                });
            });
        </script>
    {% endaddtoblock %}
{% endblock %}

{% block container %}

    {% addtoblock "js" %}
        <script src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script src="//malsup.github.io/jquery.blockUI.js"></script>
        <script src="{% static "js/get_cookie.js" %}"></script>
        <script src="{% static "js/geo.js" %}"></script>
        <script>
            geo.photos = $.parseJSON('{{ geotagger.get_localized_photos|json }}');
            geo.points = $.parseJSON('{{ geotagger.coordinates.get_points|json }}');
            geo.render();

            var save_coordinates_url = "{% url 'save_coordinates' %}";
            var csrftoken = getCookie('csrftoken');

            $(".save_coordinates").click(function(){
                $('#syncModal').modal('show');
            });

            $("#synchronize").click(function(){
                $('#syncModal').modal('hide');
                save_coordinates(geo.photos);
            });
        </script>
    {% endaddtoblock %}

    <div class="modal fade" id="syncModal" tabindex="-1" role="dialog" aria-labelledby="syncModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="syncModalLabel">{% trans "Synchronize" %}..</h4>
                </div>
                <div class="modal-body">
                    <input type="checkbox"> {% trans "override the existing coordinates" %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                    <button type="button" id='synchronize' class="btn btn-primary">{% trans "Synchronize" %}</button>
                </div>
            </div>
        </div>
    </div>

    <div id="legend" class="well">
        <h4>{% trans "Legend" %}</h4>
        <ul class="list-unstyled">
            <li class="not_geotagged"><img src="//maps.google.com/mapfiles/marker.png"/> <span>{% trans "Not geotagged" %} <span class="counter">({{ geotagger.number_of_not_geotagged_photos }})</span></span></li>
            <li class="geotagged"><img src="//maps.google.com/mapfiles/marker_green.png"/> <span>{% trans "Geotagged photo" %} <span class="counter">({{ geotagger.number_of_geotagged_photos }})</span></span></li>
        </ul>
    </div>

    <div id="message_popup" style="display:none;">
    <h4>{% trans "Sync in progress..." %} <span class='counter'>0</span>/<span class='total'>0</span></h4>
    </div>

    <div id="map_canvas" class='map'></div>

{% endblock %}
