{% extends "base.html" %}
{% load i18n static json_tags sekizai_tags %}

{% block navbar_right %}
  <ul class="nav navbar-nav navbar-right">
    <li>
        <form id='timezone-frm' action='.' method='post'>
            {% csrf_token %}
            {{ form.timezone }}
        </form>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ geotagger.coordinates.gpx_file }} <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li class="dropdown-header">{{ geotagger.get_localized_photos|length }} {% trans "photos" %}</li>
        <li><a id='save_coordinates' href="#">{% trans "Sync photos" %}</a></li>
      </ul>
    </li>
  </ul>
    {% addtoblock "css" %}
         <link rel="stylesheet" href="{% static "select2/select2.css" %}">
    {% endaddtoblock %}
    {% addtoblock "js" %}
        <script src="{% static "select2/select2.min.js" %}"></script>
        <script>
            $(function() {
                var timezone_field = $("#id_timezone");
                timezone_field.select2({'allowClear': false, 'closeOnSelect': false, 'placeholder': ''});
                timezone_field.change(function(){
                   $("#timezone-frm").submit();
                });
            });
        </script>
    {% endaddtoblock %}
{% endblock %}

{% block container %}

    {% addtoblock "js" %}
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script src="http://malsup.github.io/jquery.blockUI.js"></script>
        <script src="{% static "js/get_cookie.js" %}"></script>
        <script src="{% static "js/geo.js" %}"></script>
        <script>
            var photos = $.parseJSON('{{ geotagger.get_localized_photos|json }}');
            var points = $.parseJSON('{{ geotagger.coordinates.get_points|json }}');
            show_map(photos, points);

            var save_coordinates_url = "{% url 'save_coordinates' %}";
            var save_coordinates_message = "{% trans "Sync in progress..." %}";
            var csrftoken = getCookie('csrftoken');

            $("#save_coordinates").click(function(){
                save_coordinates();
            });
        </script>
    {% endaddtoblock %}

    <div id="map_canvas" class='map'></div>
{% endblock %}
