{% load static i18n sekizai_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta_descritpion %}Geotag your Flickr photos using a gpx file{% endblock %}">
    <meta name="author" content="Adam Bogdal">

    <title>{% block title %}FlickrGeoTagger{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="{% static "css/styles.css" %}" rel="stylesheet">
    {% render_block "css" %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">FlickrGeoTagger</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li {% if active == 'upload_file' %}class="active"{% endif %}><a href="{% url "upload_file" %}"><span class="badge">1</span> {% trans "Upload track" %}</a></li>
            <li {% if active == 'preview_photos' %}class="active"{% endif %}><a href="{% url "preview_photos" %}"><span class="badge">2</span> {% trans "Select photos" %}</a></li>
            <li {% if active == 'synchronize' %}class="active"{% endif %}><a href="#"><span class="badge">3</span> {% trans "Synchronize" %}</a></li>
          </ul>
          {% block navbar_right %}{% endblock %}
        </div><!--/.nav-collapse -->
      </div>
    </div>

    {% block container %}
    <div class="container">

        <div class="row">
            {% block content %}{% endblock %}
        </div>

    </div> <!-- /container -->
    {% endblock container %}


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    {% render_block "js" %}
  
  </body>
</html>
